body {
    background-color: #FFD8C3;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
    border: none;
}

img {
    display: block;
}

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0;
}

/* Задайте отступы для всей шапки */
.header {
    position: relative;
    width: 100%;
    min-width: 365px;
    min-height: 648px;
    background-image: url(../images/Photo-Natali.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    transition: all 0.3s ease;
}

.menu-open-button {
    position: absolute; /* Абсолютное позиционирование внутри модалки */
    top: 10px; /* Отступ сверху */
    right: 10px; /* Отступ справа */
    background: rgba(255, 216, 195, 0.70); /* Фон кнопки */
    fill: #534139; /* Цвет иконки */
    border-radius: 50%; /* Закругленные углы */
    cursor: pointer; /* Курсор при наведении */
    transition: background 0.3s ease; /* Плавный переход для фона */
    padding: 10px; /* Padding для кнопки */
    z-index: 20; /* Высокий z-index для того, чтобы кнопка была над контентом */
}


.menu-open-button:active {
    background: rgba(255, 216, 195, 0.30);
}

.menu-open-button:focus {
    outline: none;
    background: rgba(255, 216, 195, 0.30);
}

/* Контент */
.content {
    max-width: 100%;
    padding: 0 0 37px 0; /* Убраны боковые отступы */
    color: #fff;
margin: 0;
}

/* Заголовок */
.header-title {
    color: #FFF;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

/* Текст */
.header-text {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-variant: small-caps;
}

/* Навигация */
.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 0 16px; /* Отступы по 16px с каждой стороны */
}

.header-menu-list {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
}

.header-menu-item {
    font-size: 16px;
}

.header-menu-link {
    text-decoration: none;
    color: #333;
}

/* Мобильные стили */
.mob-menu-list {
    display: none; /* Скрываем мобильное меню по умолчанию */
    flex-direction: column; /* Вертикальное направление */
    width: 100vw; /* Ширина меню на всю ширину экрана */
    height: 100vh; /* Высота меню на всю высоту экрана */
    background: rgba(255, 216, 195, 0.70); /* Фон для мобильного меню */
    position: fixed; /* Фиксируем модальное окно относительно экрана */
    top: 0; /* Расположим меню сверху */
    left: 0; /* Привязываем меню к левому краю */
    padding: 105px 16px 20px 16px; /* Отступы внутри меню */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень */
    border-radius: 0px 20px; /* Закругленные углы */
    z-index: 10; /* Устанавливаем высокий z-index, чтобы меню всегда было сверху */
   
}


.mob-menu-item {
    margin-bottom: 41px;
    padding: 0 16px; 
}

.mob-menu-link {
    text-decoration: none; 
    color: #333; 
}

/* Мобильные стили */
@media (max-width: 768px) {
    .header-navigation {
        display: none; 
    }

    .menu-open-button {
        display: none; 
    }

    .mob-menu-list {
        display: none; 
    }
}
@media (min-width: 768px) {
.header {
    background-image: url(../images/Photo-Natali2x.jpg);
}
}
@media (min-width: 1024px) {
    .menu-open-button {
        display: none; 
    }

    .mob-menu-list {
        display: none; 
    }
}
